body{
    background: white;
    display: block;
}

header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

header h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.app-name{
    color: black;
}
main{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: calc(100vh - 95px);
    position: relative;
    top: 95px;
}
.settingsmenu{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settingsmenu ul{
    width: 80%;
}

.settingsmenu li{
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    margin: 10px 0px;
    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease, transform 0.2s ease;
}
.settingsmenu li:hover{
    background: var(--background-color);
    color: white;
}

.active{
    background: var(--background-color);
    color: white;
    transform: translateX(5px);
}
.settingscontainer{
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
}

#personalinfopage{
    display: block;
}

