.signinup-container{
    height: 581px;
    
}

#TOC{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    height: fit-content;
    margin-top: 10px;
}

#TOCCheckbox{
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 0px;
}