.maincontainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    width: 1000px;
    margin: 0 auto;
    padding-left: 25px;
}

.title {
    width: 436px;
    font-weight: 700;
    font-size: 53px;
    color: #ffffff;
}

.description {
    width: 377px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.button-start {
    width: 200px;
    height: 55px;
    background: #3A71A0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
}

@media (width < 1000px) {
    .maincontainer {
        width: 100%;

    }
}

@media (width < 485px) {
    .title {
        width: 95%;
        font-size: 11vw;
    }

    .description {
        width: 87%;
        font-size: 4vw;
    }
}