.signinup-container {
    height: 475px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 35px;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    border: 1px solid #eef1f9;
    background-color: #f6f7fa !important;
}

.signinup-container>div {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

button {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
}

#feilmelding {
    font-size: 13px;
    display: block;
    margin: 0;
}

#feilmelding>a {
    margin-left: 5px;
}


@media (width < 420px) {
    .signinup-container {
        width: 95%;
    }
    
}

/*
for poteniselt google og facebook login
sett container height til 520 px

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: #f6f7fa ;
    color: #00000085;
    text-align: center;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(177, 177, 177, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}
*/