.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
    min-height: 80vh;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    background-color: white;
}
input{
    border: 1px solid black;
    height: 25px;
    width: 200px;
    margin-top: 5px;
}
.signup-container div{
    margin: 20px;
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: 50px;
    gap: 10px;
    justify-items: center;
}
button{
    width: 150px;
    height: 30px;
}